* {
    margin: 0;
}
header {
    width: 100%;
    height: 35vh;
    background-color: #a1e681;
    text-align: center;
    padding-top: 200px; 
    color: white;
    margin-bottom: 100px;
}

#profile { 
    width: 70%;
    height: 35vh;
    background-color: antiquewhite;
    padding: 50px;
    margin: 0 auto;
}

#items {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.tabs {
    text-align: center;
}
.tabs h2 {
    display: inline;
    margin: 0 10px;
}
.tabs h2:hover {
    cursor: pointer;
    background-color: #a1e681;
}
.tabs h2:focus {
    outline: 0;
    background-color: #a1e681;
}

#directory {
    margin-top: 30px;
    height: 80%;
    background-color: antiquewhite;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}
.container {
    width: 250px;
    height: 300px;
    background-color: #da7070;
    margin: 10px;
    padding: 50px;
}
.container:hover { 
    cursor: pointer;
    box-shadow: 0px 5px 10px #7a3b3b;
}
.checked {
    box-shadow: 0px 5px 10px #7a3b3b;
}
#receipt {
    height: 60vh;
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 20px #888888,
                -10px 10px 20px #888888;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1250px) {
    .directory {
        padding: 50px;
    }
}
@media (max-width: 600px) {
    .tabs h2 {
        display: block;
    }
    #receipt {
        margin-top: 150px;
    }
}
